.DS_Store
tools/*
.DS_Store
**/.aws-sam/*
**/samconfig.toml
**/**.pem
.coverage
test-reports/**
transform_binary_payload/scripts/deploy_lorawan_decoder.sh
.idea
node_modules
.vscode/**
.venv/**
cdk.out/**
localtools/**
gateway_watchdog/src_put_cloudwatch_metrics/**
gateway_watchdog/localtools/**
device_watchdog/localtools/**
*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
workshop/webinar/**
device_watchdog/out.yaml
workshop/sampledecoder/downlink/Archive.zip
workshop/sampledecoder/.python-version
